.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1c1c1c;
  --primary-color: #383838;
  --secondary-color: #0449e0;
  --inverted-primary-color: #2790f5;
  --inverted-secondary-color: #39a5ff;
  --menu-link-color: #e8e8ea;
}
