.Sidebar {
  background: var(--inverted-bg-color);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  transition: width 0.4s;
  width: var(--sidebar-width);
}

.collapsed {
  width: var(--sidebar-width-callabsed);
}

.Switchers {
  bottom: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.lang {
  margin-left: 20px;
}
